html {
  background-color: #000;
}

.clock-face {
  position: relative;
  height: 300px;
  margin: 50px auto;
  width: 300px;
  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  position: absolute;
  left: 45%;
  top: 140px;
  width: 28px;
}

.hand {
  position: absolute;
  left: 47px;
  top: 95px;
  width: 14px;
}

.hand-hour {
  transform-origin: bottom;
  left: 143px;
  animation: spin 4s linear infinite;
}

.hand-minute {
  transform-origin: bottom;
  left: 143px;
  top: 70px;
  animation: spin 800ms linear infinite;
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}
