html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  transform: translateX(100px) translateY(80px);
  width: 28px;
}

.hand {
  width: 14px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hand-hour {
  transform: translateX(143px) translateY(80px);
  transform-origin: center bottom;
  left: 250px;
  animation: spin 1s linear infinite;
}

.hand-minute {
  transform: translateX(125px) translateY(80px);
  transform-origin: center bottom;
  left: 250px;
  animation: spin 1s linear infinite;
}
